<div class="block"></div>
<div class="block level-item">
  <p class="title"><%=@user.name%>'s events</p>
</div>




<div class="block level-item">
  <div class="column is-three-quarters">
    <div class="columns">
      <div class="column is-one-third">
        <div class="panel">
          <div class="panel-heading">
            <p class="title is-4">Created Events</p>
          </div>
          <% if @user.created_events.empty?%>
            <p class="panel-block">There are no events to display!</p>
          <% else%>
            <% @user.created_events.each do |event| %>
              <%= link_to event.name, event, class:"panel-block"%>
            <% end %>
          <% end%>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="panel is-info">
          <div class="panel-heading">
            <p class="title is-4 has-text-white">Upcoming Events</p>
          </div>
          <% if @user.attended_events.upcoming.empty?%>
            <p class="panel-block">There are no events to display!</p>
          <% else%>
            <% @user.attended_events.upcoming.each do |event| %>
              <%= link_to event.name, event, class:"panel-block"%>
            <% end %>
          <% end%>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="panel is-danger">
          <div class="panel-heading">
            <p class="title is-4 has-text-white">Past Events</p>
          </div>
          <% if @user.attended_events.past.empty?%>
            <p class="panel-block">There are no events to display!</p>
          <% else%>
            <% @user.attended_events.past.each do |event| %>
              <%= link_to event.name, event, class:"panel-block"%>
            <% end %>
          <% end%>
        </div>
      </div>
    </div>
  </div>
</div>